* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: rgb(157, 213, 213);
    color: rgb(73, 66, 66);
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.items {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

section {
    width: 50vw;
    background-color: rgb(218, 184, 236);
    padding: 4%;
    color: rgb(73, 66, 66);
    text-align: center;
}

li {
    padding-top: 2vh;
    list-style-type: none;
}

footer {
    background-color: rgb(60, 54, 54);
    color: whitesmoke;
    font-weight: bold;
    display: flex;
    gap: 2vh;
    padding: 2vh;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.instagram {
    display: flex;
    gap: 1vw;
}

.github {
    display: flex;
    gap: 1vw;
}

a {
    color: whitesmoke;
    font-weight: bolder;
}

a:hover {
    color: rgb(21, 20, 20);
    background-color: white;
}

.nome {
    font-weight: bold;
}

.area-pesquisa {
    padding-top: 4vh;
    font-style: italic;
}

.input-botao {
    padding: 2vh;
}

.img-katie {
    max-width: 40vw;
    max-height: 50vh;
    width: auto;
    height: auto;
}

.img-ada {
    max-width: 40vw;
    max-height: 40vh;
    width: auto;
    height: auto;
}

.img-marie {
    max-width: 40vw;
    max-height: 40vh;
    width: auto;
    height: auto;
}

.img-jaqueline {
    max-width: 40vw;
    max-height: 40vh;
    width: auto;
    height: auto;
}

.img-hedy {
    max-width: 40vw;
    max-height: 50vh;
    width: auto;
    height: auto;
}

@media screen and (max-device-width: 800px) {
    section {
        width: 65vw;
    }
}